* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #DCF2F1;
}

/* 
==========================================================================
============================= Nav styles ================================
*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7FC7D9;
}

.header__nav-bar {
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
}

.header__logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-image a {
    width: fit-content;
    height: fit-content;
}

.header__logo-image img {
    width: 6rem;
}

.header__menu {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-title {
    font-family: "Nunito sans", sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.header__user-icon i {
    font-size: 24px;
}

.header__for-you {
    height: 25rem;
}

/* 
==========================================================================
********** THIS SECTION IS USED BY FAVORITES AND EXPLORE PAGE ************
============================= Explore Section ============================
*/

.explore {
    padding: 5rem 3rem;
    background-color: #365486;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore__header {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore__title {
    display: flex;
    align-items: center;
}

.explore__title i {
    font-size: 24px;
    margin-right: 1rem;
}

.explore__title h3{
    padding: 0 1rem;
    font-family: "Nunito sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.explore__search form {
    display: flex;
    align-items: center;
}

.explore__search input {
    color: #0F1035;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.explore__search-button {
    padding: 0rem 0.5rem;
}

.explore__list {
    width: 59.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explore__list-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.explore__item {
    margin: 1rem 0;
    background-color: #0F1035;
    width: 28.75rem;
    height: 17rem;
    list-style: none;
}

.explore__item a {
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore__item a:hover {
    opacity: 0.6;
    transition: 0.3s ease;
}

.explore__item-name {
    padding: 1rem 0;
    text-decoration-line: underline;
    font-weight: 400;
}

.explore__item-image{
    width: 100%;
    height: 13.43rem;
}

.explore__page-number {
    display: flex;
    justify-content: flex-end;
}

.explore__page-number--number {
    transition: 0.1s ease;
    opacity: 0.7;
    margin: 0 0.5rem;
    font-weight: 300;
}

.explore__page-number--number:hover {
    opacity: 1;
    transition: 0.1s ease;
}

/* 
==========================================================================
============================= End Explore Section ========================
*/


/* 
==========================================================================
============================ Game Detail Section =========================
*/

.header__info-frame {
    margin: 3rem;
    width: 75rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    background-color: #DCF2F1;
    border-radius: 2rem;
}

.header__info-section {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__game-details {
    height: 20rem;
    background-color: #0F1035;
    padding: 3rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
}

.header__game-description--vertical {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.header__game-description--vertical h3{
    font-family: "Nunito sans", sans-serif;
    padding-right: 0.5rem;
    font-weight: 700;
}

.header__game-description--horizontal {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: #7FC7D9 #0F1035;
}

.header__game-description--horizontal h3{
    font-family: "nutino sans", sans-serif;
    padding: 0.5rem 0;
    font-weight: 700;
}

.actions {
    display: flex;
}

.actions__button {
    transition: 0.3s ease;
    opacity: 1;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 1.5rem;background: rgb(85,112,157);
    background: rgb(114,138,177);
    background: linear-gradient(180deg, rgba(114,138,177,1) 0%, rgba(45,73,120,1) 12%, rgba(54,84,134,1) 71%, rgba(43,66,105,1) 100%);
    cursor: pointer;
}

.actions__button:hover {
    opacity: 0.6;
    transition: 0.3s ease;
}

.actions__button p {
    padding-left: 0.5rem;
    font-family: "Nunito sans", sans-serif;
    font-weight: 900;
}